
header {
  background-color: #0a0631;
  height: 100px;
}

.row {
  margin: 0 auto;
  padding: 10px;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
